@{
    ViewData["Title"] = "Додаткова інформація";
}
<h1>@ViewData["Title"]</h1>

<p>Тут будуть довідкові матеріали та цікава інформація щодо вимірювання вологості повітря психрометричним методом</p>
